In [2]:
import os
import pandas as pd
import wget
# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

In [3]:
data_files = ['time_series_covid19_confirmed_global.csv','time_series_covid19_deaths_global.csv','time_series_covid19_recovered_global.csv']

In [4]:

for file in data_files:
    if os.path.exists(file):
        os.remove(file)

In [5]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv']
for url in urls:
    filename = wget.download(url)
    print('\n downloaded')

100% [............................................................................] 414802 / 414802
 downloaded
100% [............................................................................] 288777 / 288777
 downloaded
100% [............................................................................] 371797 / 371797
 downloaded

In [6]:

conf_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recv_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [7]:
conf_df.head(10)
#deaths_df.head()
#recv_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,50190,50433,50655,50810,50886,51039,51280,51350,51405,51526
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,53814,54317,54827,55380,55755,56254,56572,57146,57727,58316
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,96069,96549,97007,97441,97857,98249,98631,98988,99311,99610
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7633,7669,7699,7756,7806,7821,7875,7919,7983,8049
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,16802,16931,17029,17099,17149,17240,17296,17371,17433,17553
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,153,154,154,155,155,155,158,158,158,159
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,1555279,1563865,1563865,1574554,1578267,1583297,1590513,1602163,1613928,1625514
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,154602,155440,156142,156763,157349,157834,157948,158296,158878,159409
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,118,118,118,118,118,118,118,118,118,118
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,4805,4823,4832,4847,4858,4872,4881,4906,4923,4928

In [8]:
# latest condensed
conf_df_grouped = conf_df.groupby('Country/Region')[conf_df.columns[4:]].sum().reset_index()
deaths_df_grouped = deaths_df.groupby('Country/Region')[deaths_df.columns[4:]].sum().reset_index()
recv_df_grouped = recv_df.groupby('Country/Region')[recv_df.columns[4:]].sum().reset_index()
conf_df_grouped.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,50190,50433,50655,50810,50886,51039,51280,51350,51405,51526
1,Albania,0,0,0,0,0,0,0,0,0,...,53814,54317,54827,55380,55755,56254,56572,57146,57727,58316
2,Algeria,0,0,0,0,0,0,0,0,0,...,96069,96549,97007,97441,97857,98249,98631,98988,99311,99610
3,Andorra,0,0,0,0,0,0,0,0,0,...,7633,7669,7699,7756,7806,7821,7875,7919,7983,8049
4,Angola,0,0,0,0,0,0,0,0,0,...,16802,16931,17029,17099,17149,17240,17296,17371,17433,17553

In [9]:
countries_infected = conf_df['Country/Region'].unique()
print ('total number of countries/regions affected: ', len(countries_infected))

total number of countries/regions affected:  191

In [10]:
conf_df_china = conf_df[conf_df['Country/Region']=='China']
provinces = conf_df_china['Province/State'].unique()
print ('total number of affected provinces in china: ', len(provinces))
conf_df_china.head()

total number of affected provinces in china:  33

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
58,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,992,992,992,992,993,993,993,993,993,993
59,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,961,961,961,963,971,972,979,980,982,987
60,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,590,590,590,590,590,590,590,590,590,590
61,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,507,507,507,508,508,508,509,511,512,513
62,Gansu,China,35.7518,104.2861,0,2,2,4,7,14,...,182,182,182,182,182,182,182,182,182,182

In [11]:

conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

In [13]:
country_flags = pd.read_csv('country_flags_url.csv')
country_flags.head()

   Country Name                                   Image URL
0        Angola  https://www.countryflags.io/ao/flat/64.png
1       Burundi  https://www.countryflags.io/bi/flat/64.png
2         Benin  https://www.countryflags.io/bj/flat/64.png
3  Burkina Faso  https://www.countryflags.io/bf/flat/64.png
4      Botswana  https://www.countryflags.io/bw/flat/64.png

In [14]:
country_flags.describe()

       Country Name                                   Image URL
count           215                                         215
unique          215                                         215
top        Dominica  https://www.countryflags.io/sv/flat/64.png
freq              1                                           1

In [15]:

deaths_df_grouped.insert(1,'Flag URL','')
conf_df_grouped.insert(1,'Flag URL','')
recv_df_grouped.insert(1,'Flag URL','')
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,Afghanistan,,0,0,0,0,0,0,0,0,...,2096,2117,2126,2139,2149,2160,2174,2179,2181,2191
1,Albania,,0,0,0,0,0,0,0,0,...,1111,1117,1125,1134,1143,1153,1164,1170,1174,1181
2,Algeria,,0,0,0,0,0,0,0,0,...,2687,2696,2705,2716,2722,2728,2737,2745,2751,2756
3,Andorra,,0,0,0,0,0,0,0,0,...,82,82,83,83,83,83,83,84,84,84
4,Angola,,0,0,0,0,0,0,0,0,...,393,393,393,396,399,399,403,403,405,405

In [16]:
flag = country_flags[country_flags['Country Name']=="India"]['Image URL']
flag = list(flag)[0]
flag
#rslt_df = image_url.loc[image_url['Country Name'] == 'Angola'] 
#rslt_df.iloc[:,1]

'https://www.countryflags.io/in/flat/64.png'

In [17]:

index = deaths_df_grouped[deaths_df_grouped['Country/Region']=="India"].index
print(index)
print(deaths_df_grouped.loc[index,:])

Int64Index([79], dtype='int64')
   Country/Region Flag URL  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
79          India                 0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  12/22/20  12/23/20  12/24/20  12/25/20  \
79        0        0        0  ...    146444    146756    147092    147343

    12/26/20  12/27/20  12/28/20  12/29/20  12/30/20  12/31/20
79    147622    147901    148153    148439    148738    148738

[1 rows x 347 columns]

In [18]:
deaths_df_grouped.loc[index,:]['Flag URL']

79
Name: Flag URL, dtype: object

In [19]:
deaths_df_grouped.at[index,'Flag URL']=flag
deaths_df_grouped.loc[index,:]['Flag URL']

79    https://www.countryflags.io/in/flat/64.png
Name: Flag URL, dtype: object

In [20]:
flags_unk = []
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=flag[0]
    else:
        flags_unk.append(cnt)

for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=flag[0]

    
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=flag[0]

In [21]:
flags_unk

['Bahamas',
 'Brunei',
 'Burma',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Czechia',
 'Diamond Princess',
 'Egypt',
 'Gambia',
 'Holy See',
 'Korea, South',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'MS Zaandam',
 'North Macedonia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Syria',
 'Taiwan*',
 'United Arab Emirates',
 'United Kingdom',
 'Venezuela',
 'Yemen']

In [22]:

cnt_ext = {'US':'https://www.countryflags.io/us/flat/64.png','Iran':'https://www.countryflags.io/ir/flat/64.png',
           'United Kingdom':'https://www.countryflags.io/gb/flat/64.png', 
           'Korea, South':'https://www.countryflags.io/kr/flat/64.png'}
for cnt,url in cnt_ext.items():
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=url
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=url
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=url

In [23]:
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,12/22/20,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20
0,Afghanistan,https://www.countryflags.io/af/flat/64.png,0,0,0,0,0,0,0,0,...,2096,2117,2126,2139,2149,2160,2174,2179,2181,2191
1,Albania,https://www.countryflags.io/al/flat/64.png,0,0,0,0,0,0,0,0,...,1111,1117,1125,1134,1143,1153,1164,1170,1174,1181
2,Algeria,https://www.countryflags.io/dz/flat/64.png,0,0,0,0,0,0,0,0,...,2687,2696,2705,2716,2722,2728,2737,2745,2751,2756
3,Andorra,https://www.countryflags.io/ad/flat/64.png,0,0,0,0,0,0,0,0,...,82,82,83,83,83,83,83,84,84,84
4,Angola,https://www.countryflags.io/ao/flat/64.png,0,0,0,0,0,0,0,0,...,393,393,393,396,399,399,403,403,405,405

In [24]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

In [28]:
HTML('''<div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/4833457"><script src="https://public.flourish.studio/resources/embed.js"></script></div>''')